@import './_reset.scss';

body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 20px;
}

.container--content {
  padding: 50px;
}

.container--app {
  position: relative;
  margin:auto;
  width: 80%;
  max-width: 800px;
}

.test--center {
  text-align: center;
}
